.cardContainer {
  background-color: #a6a6a62e;
  display: flex;
  flex-direction: column;
  min-height: 650px;
  align-items: center;
  max-width: 100%;
  border-radius: 12px;
  padding: var(--smallest-space);
  gap: 8px;
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.32);
  transition: all var(--animation) ease-in-out;
}
.image {
  border-radius: 12px;
  max-width: 360px;
  width: 100%;
  height: auto;
}

.description {
  margin-top: 8px;
  line-height: 20px;
  align-self: start;
  max-width: 360px;
  width: 100%;
  word-wrap: break-word;
  margin-bottom: var(--smallest-space);
}
.links {
  display: flex;
  gap: var(--smallest-space);
  align-self: start;
  margin-top: auto;
}

.icons {
  width: 100%;
  max-width: 50px;
  stroke-width: 2px;
  background-color: var(--module-bg);
  border-radius: 400px;
  padding: 8px;
}

.iconWww {
  width: 100%;
  max-width: 48px;
  stroke-width: 2px;
  background-color: var(--module-bg);
  padding: 8px;
  border-radius: 400px;
}

.title {
  margin-top: 8px;
  align-self: start;
}
.altColorContainer {
  background-color: #2f2f2f;
}
.icon_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all var(--animation);
}
.icon_container:hover {
  stroke-width: 3px;
  transform: scale(1.1);
}
.icon_container h3 {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 300;
}
.blur {
  filter: blur(10px);
  transition: filter var(--animation) ease-in-out;
}
.empty {
  transition: all var(--animation) ease-in-out;
}
.cardContainer:hover:not(.blur) {
  transform: scale(1.05);
}
@media screen and (max-width: 1100px) {
  .cardContainer:hover:not(.blur) {
    transform: scale(1);
  }
  .cardContainer {
    width: 360px;
    scroll-snap-align: center;
    margin: 16px;
  }
}
@media screen and (max-width: 800px) {
  .blur {
    filter: blur(0px);
    transition: none;
  }
}
@media screen and (max-width: 560px) {
  .cardContainer {
    width: 320px;
    padding: var(--smallest-space);
    margin: 8px;
    min-height: 580px;
  }
  .icons {
    width: 46px;
  }
  .iconWww {
    width: 44px;
  }
  .icon_container h3 {
    font-size: 14px;
  }
  .description {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .cardContainer {
    margin-left: 16px;
  }
}
@media screen and (max-width: 420px) {
  .cardContainer {
    width: 260px;

    min-height: 545px;
  }
  .icons {
    width: 50px;
  }

  .iconWww {
    width: 48px;
  }
}
