.icon {
  width: 60px;
  height: 60px;

  stroke-width: 2px;
  background-color: var(--module-bg);
  border-radius: 400px;
  padding: 10px;
}

.iconDownload {
  width: 50px;
  height: 50px;
  stroke-width: 2px;
}
.contactContainer {
  display: flex;
  gap: var(--small-space);
  align-items: center;
}
.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--module-bg);
  padding: 16px;
  border-radius: 10px;
  margin-left: var(--small-space);
  transition: all var(--animation);
}
.download:hover {
  transform: scale(1.1);
  background-color: rgb(28, 28, 28);
}
.singleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all var(--animation);
}
.singleContainer:hover {
  transform: scale(1.1);
}
.singleContainer h3 {
  margin-top: 1rem;
}
.download h3 {
  margin-top: 1rem;
}
.icon_small {
  width: 35px;
  stroke-width: 2px;
}
@media screen and (max-width: 700px) {
  .icon {
    width: 50px;
    height: 50px;

    padding: 8px;
  }
  .iconDownload {
    width: 40px;
    height: 40px;
  }
  .download {
    padding: 12px;
  }
  .singleContainer h3 {
    font-size: 14px;
  }
  .download h3 {
    font-size: 14px;
  }
  .icon_small {
    stroke-width: 2px;
  }
}
@media screen and (max-width: 540px) {
  .contactContainer {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .download {
    margin-left: 16px;
  }
}
@media screen and (max-width: 480px) {
  .contactContainer {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .download {
    padding: 0;
    background-color: transparent;
  }
  .icon {
    width: 45px;
    height: 45px;

    padding: 8px;
  }
  .iconDownload {
    padding: 8px;
    background-color: var(--module-bg);
    border-radius: 300px;
    width: 45px;
    height: 45px;
  }
  .icon_small {
    width: 30px;
    stroke-width: 2px;
  }
}
@media screen and (max-width: 420px) {
  .download {
    margin-left: 0;
  }
}
@media screen and (max-width: 390px) {
  .contactContainer {
    gap: 10px;
  }
  .singleContainer h3 {
    font-size: 12px;
  }
  .download h3 {
    font-size: 12px;
  }
}
