.icon {
  width: 50px;
  stroke-width: 2px;
}
.contactContainer {
  display: flex;
  gap: var(--small-space);
  align-items: center;
}
.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--darkestgrey-color);
  padding: 16px;
  border-radius: 12px;
  margin-left: var(--small-space);
}
.singleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.singleContainer h3 {
  margin-top: 1rem;
}
.download h3 {
  margin-top: 1rem;
}
.icon_small {
  width: 35px;
  stroke-width: 2px;
}
