.container {
  margin: 8px auto 8px auto;
  display: flex;
  width: 70%;
  height: auto;
  align-items: center;
}
.title {
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 3.2rem;
  margin-right: var(--small-space);
  flex-shrink: 0;
  flex-grow: 1;
}
.circle {
  background-color: var(--link-color);
  opacity: 80%;
  height: 20px;
  width: 20px;
  flex-shrink: 1;
  flex-grow: 0;

  border-radius: 300px;
  z-index: -1;
}
.circleContainer {
  display: flex;
  flex-direction: row;
  gap: var(--smallest-space);
}
.infoText {
  font-size: 2rem;
}
