.container {
  margin: 0 auto;
  display: flex;
  width: 80%;
  height: auto;
  align-items: center;
}
.title {
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 3.2rem;
  margin-right: var(--small-space);
  flex-shrink: 0;
  flex-grow: 1;
}
.line {
  background-color: var(--link-color);
  opacity: 80%;
  height: 3px;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 5%;
  border-radius: 100px;
  z-index: -1;
}
.infoText {
  font-size: 2rem;
}
