.container {
  width: 800px;
  height: auto;
}
.info {
  margin-bottom: 6.2rem;
}
.info p {
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
  letter-spacing: 0.5px;
  overflow-y: hidden;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
