.container {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--midbig-space);
}
.info {
  width: 950px;
}
.info p {
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.5px;
  overflow-y: hidden;
}
.contactContainer {
  margin-top: var(--midbig-space);
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
}
.mediaContainer {
  display: flex;
  flex-direction: column;
  gap: var(--midbig-space);
  width: 500px;
  max-width: 100%;
  background-color: var(--darkestgrey-color);
  padding: var(--small-space);
  border-radius: var(--border-radious);
}
.spotify,
.goodread {
  display: flex;
  flex-direction: column;
  gap: var(--smallest-space);
}
