.fullNav {
  width: 100%;
  height: 60px;
  z-index: 999;
}
.background {
  background-color: rgba(31, 31, 31, 0.557);
  backdrop-filter: blur(10px);
  margin: 0 auto;
  width: 100%;
  height: 60px;
}
.container {
  position: absolute;
  left: 5%;
  top: 0;
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
}
.compDiv {
  width: 100%;
  height: 60px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: var(--small-space);
}
.greetings {
  font-weight: 300;
  align-self: flex-end;
  margin-bottom: 10px;
}
.logo {
  color: var(--white-color);
  font-weight: 500;
  font-size: 4.4rem;
}
.linkContainer {
  max-width: 100%;
  display: flex;
  gap: var(--small-space);
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.link {
  font-size: 2rem;

  text-transform: uppercase;
  font-weight: 400;
}
.sticky {
  position: fixed;
  top: 0%;
}
.active {
  position: relative;
  cursor: pointer;
  transition: all 1.2s;
}
.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--link-color);
  bottom: 0;
  right: 0px;
  top: 30px;
  transform-origin: center;
  transform: scaleX(1);
  transition: var(--transition);
}
