.title {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 90.5%; /* 21.72px */
  letter-spacing: 1.08px;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 1.8rem;
    font-weight: 600;
  }
}
