.image {
  background: url(../../public/joao.webp);
  width: 100svw;
  height: 400px;
  background-position: 90% 20%;
}
.backgroundAbout {
  width: 100svw;
  height: 800px;
  background-color: var(--darkgrey-color);
}
.aboutContainer {
  margin: 0 auto;
  width: 80%;
  margin-top: 5.6rem;
}
