.aboutContainer {
  margin: 0 auto;
  width: 70%;
}
.outterWrapper {
  margin-top: 30%;
}
.outterWrapperLast {
  margin-top: 30%;
  margin-bottom: 200px;
}
.wrapper {
  background-color: var(--module-bg);
  padding: 24px;
  margin: 0 auto 0 auto;
  width: 70%;
  border-radius: var(--border-radious);
  box-shadow: 0px 0px 120px 3cqi rgba(0, 0, 0, 0.389);
}
.subtext {
  margin-bottom: var(--midbig-space);
  font-size: 2rem;
}
.projectsContainer {
  display: flex;
  gap: var(--midsmall-space);
  align-items: center;
  justify-content: center;
}
.line {
  position: fixed; /* Fixed position to keep it in view */
  top: 0;
  left: 50.1%;
  border-radius: 200px;
  transform: translateX(-50%); /* Center the line horizontally */
  height: 100%; /* Full height of the viewport */
  width: 10px;
  background-color: rgb(151, 154, 77); /* Change the color as needed */
  z-index: -1; /* Set a high z-index to make sure it's behind other components */
}
.anchor {
  position: relative;
  top: 350px;
  color: transparent;
}
